.right_sidebar {
  background-color: #42a8c0;

}
.right_sidebar .row {

}
.right_sidebar .row .profile-container {
padding: 30px;
text-align: center;
background-color: rgba(0,0,0,0.2)
}
.right_sidebar .row .profile-container img {
  border-radius: 50%;

}
.right_sidebar .row .profile-container h2.name {
color: white;
font-weight: 900;
}
.right_sidebar .row .profile-container h3.tagline {
color: white;
font-weight: 100;
font-size: 1.75rem;
}
.contact-container {
  padding: 30px;
}
